{{!-- <html>

<head>
    <body style="background-color:#FFE4C4;">
</body>
<title>Banco de El Salvador</title>
</head>

</body>
</html> --}}


{{> header}}

<div class="container">
        </br>
    </br>
    <center><h1>Banco de El Salvador</h1></center>
    </br>
    </br>
    <center><img src="https://www.ebankingnews.com/wp-content/uploads/2019/02/bank-01.jpg"  height="300px" alt=""></center>
    </br>
    </br>
    <center> <h2><b>Vision</b> </h2></center>
    <br>
    <center><p>Somos un Banco Universal, moderno y cercano que ofrece una variedad de servicios financieros de excelencia,
        permitiendo a nuestros clientes satisfacer sus necesidades de financiamiento, ahorro y pago. 
        Creamos valor para nuestros accionistas, construyendo relaciones de confianza con quienes interactuamos
        y ofrecemos las condiciones para que las personas desarrollen su potencial, en un ambiente laboral desafiante y
        de respeto a nuestros valores.</p></center>

    <center> <h2><b>Mision</b> </h2>
    <br>
    <p>
        Ser una compañía que resuelve todas las necesidades financieras de nuestros clientes, 
        entregándoles la mejor experiencia personal y digital, 
        sustentada en nuestra capacidad de conocerlos y personalizando el servicio que les entregamos. 
    </p> </center>
    </br>
</div>
